@import "../../node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}

#map_container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 75vw;
  left: 25%;
}

#map_container_controls {
  position: relative;
}
